.logoFooter {
    margin-top: 4em;
    margin-left: 4em;
    margin-bottom: 2em;
}

.footerLabel{
    text-align: center;
}



input[type=text] {
    width: 100%;
    padding: 12px 30px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(207, 159, 54);
}

.butEmail {
    width: max-content;
    height: 50px;
}

.email{
    
    margin-top: 2em;
}
.footerBrand{
 width: max-content;
}

.footbar{
    margin-top: 4rem;
    width: max-content;
}
.fbLogo {
    color: skyblue;
}

.hide2 {
    display: none;
} 

.hide3 {
    display: none;
}
@media (max-width: 768px){
    .hide1{
        display: none;
    }
    .hide2 {
        margin-top: 2em;
        text-align: end;
        display: block;
    }
    .hide3{
        margin-top: 2em;
        text-align: start;
        display: block;
    }
    .footerBrand{
        margin-top: -2em;
        width: max-content;
       }
}