.headUnsere {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.img{
    width: 100%;
}

.detils{
    margin-top: 2rem;;
}
.text{
    color: #C7AD4A;
    margin-top: 2rem;
}

.textPara1{
    font-size: medium;
    margin-top: -1em;
}

.textPara2{
    font-size: larger;
    margin-top: 1em;
}

.bgColor{
    background-color: wheat;
    border: 2px solid transparent;
    border-radius: 15px 5px 5px 15px;
}

.shadow {
border: 2px solid white;
border-radius: 15px 5px 5px 15px;
-webkit-box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12);
box-shadow: 0 10px 34px rgba(0, 0, 0, 0.12);
}

.IPhone {
    display: none;
}

.button3 {
    margin-top: 2em;
}

@media (max-width: 768px){
    .headUnsere {
        display: none;
    }
    .shadow {
        display: none;
    }

    .IPhone{
        display: block;
        margin-top: 4em;
    }
}